.navbar {
    background-color: #1877f2;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    width: 60px;
}

.nav_logo {
    width: 50px;
}

.nav-list {
    list-style: none;
    padding: 0;
}
.nav-item {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item:hover {
    background-color: #0a4fa9;
    cursor: pointer;
}