.render-box {
    position: absolute;
    left: 60px;
    text-align: left;
}

.UserList {
    border-right: 1px solid #c8c6c7;
    display: inline-block;
    height: 100vh;
    vertical-align:top;
    width: 250px;
    position: fixed;
}

.messages {
    display: inline-block;
    border-right: 1px solid #c8c6c7;
    height: 100vh;
    vertical-align:top;
    width: 800px;
    margin-left: 250px;
}

.UserListHeading {
    border-bottom: 1px solid #f4f0ec;
    font-size: 1.2rem;
    margin: 0;
    padding: 16px 8px 16px 30px;
}

.userBox {
    border-bottom: 1px solid #f4f0ec;
    padding-left: 20px;
} 

.userBox:hover {
    background-color: #f4f0ec;
    cursor: pointer;
}

.userName {
    font-size: 1rem;
    display: inline-block;
    margin: 0;
    position: absolute;
    padding-top: 15px;
    padding-left: 5px;
    font-weight: 400;
}